<div class="container bg-black" style="padding: 12px;">
  <span class="text-white text-sm text-neutral-400">Qual o Titulo do evento?</span>
  <div class="flex w-full margin-right: 12px;">
    <span class="text-white inline-block w-full" style="font-family: 'Anton', sans-serif; font-size: 45px;">Evento Legal muito legal mesmo</span>
    <div class=" flex items-center">
      <i class="fas fa-pen" 
      style="color: #6B6B6B;" 
      ></i>
    </div>
  </div> 
  <button class="bg-white">
    Sem ideia? Gere um nome legal!!
    <i class="fas fa-dice-five" 
    style="color: #6B6B6B;" 
    ></i>
  </button> 
  
  
</div>   